**General Approach**

In [9]:
lst = [23, 17, 5, 42, 10, 33, 8, 19, 27, 13, 31]

max = -999 # positive_infinity = float('inf') -->for python

min = 999 # negative_infinity = float('-inf') --> for python

In [12]:
#finding min & max

for i in lst:
  if i > max :
    max = i
print("Max is",max)

Max is 42

In [4]:
# finding min

for i in lst:
  if i < min :
    min = i

print("Min is",min)

Min is 5

In [ ]:
#finding min & max in one loop

for i in lst:
  if i > max :
    max = i
  if i < min :
    min = i
print('Min is', min ,"Max is",max)

Min is 5 Max is 42

**Using Sorting method**

In [14]:
# we can use Sort to find min max
lst = [23, 17, 5, 42, 10, 33, 8, 19, 27, 13, 31]
lst = sorted(lst) # we use bilt in sorted mathod

# we can use sort algorithm to sort the list

min = lst[0]
max = lst[-1]

print('Min',min,'Max',max)

Min 5 Max 42